@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0c;
  color: #e2e8f0;
}

body {
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #121216;
}
::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 2px;
}
